# label|url|expected_statuses|timeout_seconds
DevSpeak|https://devspeak.labault.dev|200|10
Docendo|https://docendo.fr|200|10
Humelis|https://humelis.labault.dev|200|10
Hush|https://hush.labault.dev|200|10
Labault|https://labault.dev|200|10
RedFlagBingo|https://redflagbingo.fun/|200|10
